body {
    font-size: 14px;
}

.metronome-switch {
    padding: 5px 8px;
    border: 1px solid darkblue;
    border-radius: 5px;
    background-color: white;
    text-transform: uppercase;
}